{% extends 'base.html' %}
{% block title %}Update Withdrawal{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0 text-white">Update Withdrawal</h4>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <div id="form-errors" class="alert alert-danger d-none"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="id_bank">Bank</label>
              <input type="hidden" name="business_profile" value="{{withdrawal_instance.business_profile }}">
              <input type="hidden" name="daily_summary_id" value="{{ withdrawal_instance.daily_summary_id }}">
              <select id="id_bank" name="bank" class="form-control" tabindex="001" required>
                {% for bank in form.bank.field.queryset %}
                  <option value="{{ bank.id }}" {% if bank.id == withdrawal_instance.bank.id %} selected {% endif %}>{{ bank.bank.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="id_amount">Amount</label>
              <input type="number" id="id_amount" name="amount" class="form-control" step="0.01" tabindex="003" value="{{ withdrawal_instance.amount }}" required>
            </div>
            <div class="form-group" id="cheque_details">
              <label for="id_cheque_date">Cheque Date</label>
              <input type="date" id="id_cheque_date" name="cheque_date" class="form-control" tabindex="005" {% if withdrawal_instance.cheque_date %} value="{{ withdrawal_instance.cheque_date|date:'Y-m-d' }}" {% endif %}>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="id_withdrawal_date">Withdrawal Date</label>
                <input type="date" id="id_withdrawal_date" name="withdrawal_date" class="form-control" tabindex="005" {% if withdrawal_instance.withdrawal_date %} value="{{ withdrawal_instance.withdrawal_date|date:'Y-m-d' }}" {% endif %} required>
              </div>
            <div class="form-group">
              <label for="id_mode_of_transaction">Mode of Transaction</label>
              <select id="id_mode_of_transaction" name="mode_of_transaction" class="form-control text-capitalize" tabindex="002" required>
                <option value="">-- Mode of Transaction --</option>
                {% for transaction_mode in form.mode_of_transaction.field.queryset %}
                <option value="{{ transaction_mode.id }}" {% if transaction_mode.id == withdrawal_instance.mode_of_transaction.id %} selected {% endif %}>{{ transaction_mode.transaction_name }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- <div class="form-group" id="bank_details">
              <label for="id_bank">Bank</label>
              <select id="id_bank" name="bank" class="form-control" tabindex="004">
                <option value="">-- Select Bank --</option>
                {% for bank in form.bank.field.queryset %}
                <option value="{{ bank.id }}" {% if bank.id == withdrawal_instance.bank.id %} selected {% endif %}>{{ bank.name }}</option>
                {% endfor %}
              </select>
            </div> -->
            <div class="form-group" id="cheque_no_details">
              <label for="id_cheque_no">Cheque Number</label>
              <input type="text" id="id_cheque_no" name="cheque_no" class="form-control" value="{% if withdrawal_instance.cheque_no != 'None' %}{{ withdrawal_instance.cheque_no }}{% endif %}" tabindex="006">
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-group mb-0">
            <button type="submit" class="btn btn-primary" tabindex="007">Save</button>
            <a href="{% url 'admin_daily_summary_update' withdrawal_instance.daily_summary_id %}#4" class="btn btn-secondary" tabindex="008">Cancel</a>
        </div>
    </div>
</form>
</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
        var dateInput = document.getElementById('id_withdrawal_date');
        var today = new Date();
        var day = String(today.getDate()).padStart(2, '0');
        var month = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
        var year = today.getFullYear();

        var todayDate = year + '-' + month + '-' + day;
        dateInput.max = todayDate;
    });
</script>
<script>
  function toggleChequeDetails2() {
    var modeOfTransactionElement2 = document.getElementById("id_mode_of_transaction");
    var modeOfTransaction = modeOfTransactionElement2.options[modeOfTransactionElement2.selectedIndex].textContent;
    console.log('modeOfTransaction', modeOfTransaction);

    // var modeOfTransaction = document.getElementById("id_mode_of_transaction").value;
    // console.log('modeOfTransaction',modeOfTransaction);
    var chequeDetails = document.getElementById("cheque_details");
    // var bankDetails = document.getElementById("bank_details");
    var chequeNoDetails = document.getElementById("cheque_no_details");

    if ( modeOfTransaction === "cheque") {
      chequeDetails.style.display = "block";
    //   bankDetails.style.display = "block";
      chequeNoDetails.style.display = "block";
      setRequired(chequeDetails, true);
      setRequired(chequeNoDetails, true);
    } else {
      chequeDetails.style.display = "none";
    //   bankDetails.style.display = "none";
      chequeNoDetails.style.display = "none";
      setRequired(chequeDetails, false);
      setRequired(chequeNoDetails, false);

      document.getElementById("id_cheque_date").value = "";
    //   document.getElementById("id_bank").value = "";
      document.getElementById("id_cheque_no").value = "";
    }
  }
  function setRequired(element, isRequired) {
            var inputs = element.querySelectorAll('input, select, textarea');
            inputs.forEach(function(input) {
                input.required = isRequired;
            });
        }
  document.getElementById("id_mode_of_transaction").addEventListener("change", toggleChequeDetails2);
  toggleChequeDetails2();
</script>

{% endblock %}
