<!-- templates/bank_statement.html -->
{% extends 'base.html' %}

{% block title %}Bank Statement{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="text-white mb-0">Bank Statement</h5>
        </div>
        <div class="card-body">
            <form id="statement-form" class="form-inline">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="start_date">Start Date</label>
                            <input type="date" id="start_date" name="start_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="end_date">End Date</label>
                            <input type="date" id="end_date" name="end_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-grid">
                            <label for="bank">Bank</label>
                            <select id="bank" name="bank" class="form-control" required>
                                <option value="">-- Select Bank --</option>
                                {% for bank in banks %}
                                    <option value="{{ bank.id }}">{{ bank.bank.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group w-100 mt-0">
                            <label for="bank">&nbsp;</label>
                            <button type="submit" class="btn btn-primary w-100">Generate Statement</button>
                        </div>
                    </div>
                </div>
                
            </form>
            <div id="statement-results" class="mt-4 d-none">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-dark">Bank Statement</h5>
                    <button id="download-pdf-cc" class="btn btn-success mt-2">Download PDF</button>
                </div>
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th style="background-color: #8a8a8a !important;">Date</th>
                            <th style="text-align:left !important; background-color: #8a8a8a !important;">Description</th>
                            <th style="background-color: #8a8a8a !important;">Withdrawal</th>
                            <th style="background-color: #8a8a8a !important;">Deposit</th>
                            <th style="background-color: #8a8a8a !important;">Balance</th>
                        </tr>
                    </thead>
                    <tbody id="statement-body"></tbody>
                    <tfoot id="statement-summary">
                        <tr>
                            <th colspan="1" class="text-center" style="background-color: #8a8a8a !important;color: #fff !important;"><span>Total</span></th>
                            <th style="background-color: #8a8a8a !important;color: #fff !important;"></th>
                            <th id="total-withdrawals" style="background-color: #8a8a8a !important;color: #fff !important;"></th>
                            <th id="total-deposits" style="background-color: #8a8a8a !important;color: #fff !important;"></th>
                            <th id="final-balance" style="background-color: #8a8a8a !important;color: #fff !important;"></th>
                        </tr>
                    </tfoot>
                </table>
                <button id="download-pdf-cc" class="btn btn-success mt-2">Download PDF</button>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('statement-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const startDate = document.getElementById('start_date').value;
    const endDate = document.getElementById('end_date').value;
    const bankId = document.getElementById('bank').value;

    fetch(`/api/bank-statement/?start_date=${startDate}&end_date=${endDate}&bank=${bankId}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('statement-results').classList.remove('d-none');
            const statementBody = document.getElementById('statement-body');
            
            statementBody.innerHTML = data.details.map(detail => {
                const date = new Date(detail.date);
                const formattedDate = date.toLocaleDateString('en-UK', {
                    day: '2-digit',
                    month: 'long',
                    year: 'numeric'
                });
                return `
                    <tr>
                        <td>${formattedDate}</td>
                        <td style="text-align:left !important; " class="text-capitalize">${detail.description}</td>
                        <td>${detail.withdrawal.toFixed(2)}</td>
                        <td>${detail.deposit.toFixed(2)}</td>
                        <td>${detail.balance.toFixed(2)}</td>
                    </tr>
                `;
            }).join('');

            document.getElementById('total-withdrawals').textContent = data.summary.total_withdrawals.toFixed(2);
            document.getElementById('total-deposits').textContent = data.summary.total_deposits.toFixed(2);
            document.getElementById('final-balance').textContent = data.summary.final_balance.toFixed(2);
        });
});
document.getElementById('download-pdf-cc').addEventListener('click', function() {
    const startDate = document.getElementById('start_date').value;
    const endDate = document.getElementById('end_date').value;
    const bankId = document.getElementById('bank').value;
    window.location.href = `/api/bank-statement-pdf/?start_date=${startDate}&end_date=${endDate}&bank=${bankId}`;
});
</script>
{% endblock %}
