<!-- bank_list.html -->

{% extends 'base.html' %}
{% block title %}Bank List{% endblock %}
{% block content %}
<div class="container">
  
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Bank List</h5>
      <div>
        <a href="{% url 'create_bank' %}" class="btn btn-primary float-right">Create Bank</a>
      <!-- <a href="{% url 'create_all_banks' %}" class="btn btn-primary float-right mr-3">Customer Bank</a> -->
      {% if not all_banks_exist %}
      <a href="{% url 'create_all_banks' %}" class="btn btn-primary float-right mr-3">Customer Bank</a>
  {% endif %}
      </div>
  </div>
    <div class="card-body">
      <div class="table-responsive">

        <table class="table table-bordered table-striped nowrap" id="banklist">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Account Number</th>
              <th>Opening Balance</th>
              <th>Status</th>
              <th>Created On</th>
              <th>Updated On</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for bank in object_list %}
            <tr>
              <td>{{ bank.id }}</td>
              <td>{{ bank.bank.name}}</td>
              <td>{{ bank.account_number }}</td>
              <td>{{ bank.opening_balance }}</td>
              <td>{{ bank.status }}</td>
              <td>{{ bank.created_on }}</td>
              <td>{{ bank.update_on }}</td>
              <td>
                <a href="{% url 'edit_bank' bank.id %}" class="btn btn-primary btn-sm">Edit</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>

<script>
  new DataTable('#banklist', {
            responsive: true,
            dom: 'lBfrtip',
            
            buttons: [
                {
                    text: 'Print',
                    extend: 'print',
                    exportOptions: {
                        stripHtml: false,
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                {
                    text: 'Export PDF',
                    extend: 'pdf',
                    
                    exportOptions: {
                        stripHtml: true,
                       
                    },
          
                }
            ],
            
        });

 </script>
{% endblock %}
