<!-- reset_password.html -->

{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="card mt-3">
    <div class="card-header">
        <h4 class="mb-0">Reset Password</h4>
    </div>
    <form method="POST" id="passwordResetForm">
        {% csrf_token %}
        <div class="card-body">
            <div id="passwordErrors" class="text-danger mt-2">
                {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}

            </div>
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            
            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            
            <div class="form-check mt-2">
                <input type="checkbox" id="showPassword" class="form-check-input">
                <label for="showPassword" class="form-check-label">Show Password</label>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group mb-0">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const showPasswordCheckbox = document.getElementById('showPassword');
        const passwordFields = document.querySelectorAll('#passwordResetForm input[type="password"]');

        showPasswordCheckbox.addEventListener('change', () => {
            passwordFields.forEach(field => {
                field.type = showPasswordCheckbox.checked ? 'text' : 'password';
            });
        });

        const form = document.getElementById('passwordResetForm');
        form.addEventListener('submit', function(event) {
            const newPassword1 = form.querySelector('input[name="new_password1"]').value;
            const newPassword2 = form.querySelector('input[name="new_password2"]').value;

            if (newPassword1.length < 8) {
                event.preventDefault();
                alert('Your password must be at least 8 characters long.');
                return;
            }

            if (newPassword1 !== newPassword2) {
                event.preventDefault();
                alert('The two password fields must match.');
            }
        });

        const password1 = form.querySelector('input[name="new_password1"]');
        const password2 = form.querySelector('input[name="new_password2"]');

        function checkPasswords() {
            if (password1.value && password2.value && password1.value !== password2.value) {
                password2.setCustomValidity("Passwords do not match.");
            } else {
                password2.setCustomValidity("");
            }
        }

        password1.addEventListener('input', checkPasswords);
        password2.addEventListener('input', checkPasswords);
    });
</script>
{% endblock %}
