{% extends 'base.html' %}

{% block title %}
    Create Mode Transaction
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="text-white mb-0">Create Mode Transaction</h4>
        </div>
        <form method="post">
        <div class="card-body">

            
                {% csrf_token %}
                <div class="form-group">
                    <label for="name" class="mb-3">Mode Transaction Name:</label>
                    <input type="text" id="id_transaction_name" name="transaction_name" class="form-control" style="width:50% !important;" required>
                </div>
                <div class="form-group">
                    <label for="name" class="mb-3">Mode Transaction Type:</label>
                    <!-- <input type="text" id="name" name="name" class="form-control mb-0" style="width:50% !important;" required> -->
                     <select id="name" name="name" class="form-control mb-0" style="width: 50% !important;" required>
                        <option value="" disabled selected>Select Transaction Mode</option>
                        {% for mode, display_name in transaction_modes %}
                            <option value="{{ mode }}">{{ display_name }}</option>
                        {% endfor %}
                    </select>
            
                    <input type="hidden" name="business_profile" value="{{ business_profile }}">
                </div>
               
                
           
        </div>
        <div class="card-footer">
<div class="form-group mb-0">
    <button type="submit" class="btn btn-primary">Save</button>
</div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
