{% extends 'base.html' %}

{% block title %}Daily Summary List{% endblock %}

{% block content %}
<style>
  span.dtr-data {
    float: right !important;
  }
  div.dt-container .dt-search input{
    border-radius: 1rem !important;
  }
  td, th, .ath{
      font-size: 13px !important;
  }
</style>
<div class="container">
  <p id="message" class="alert alert-info mt-3 d-none"></p>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Daily Summary List</h5>
      <a href="#" class="btn btn-primary float-right" id="daily_summary_id">Create Daily Summary</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped nowrap" style="width: 100%;" id="dailysummary">
          <thead>
            <tr style="border-radius: 15rem;">
              <th  class="text-center">#</th> 
              <th >Date</th>
              <th >Op. Bal</th>
              <th >Sales</th>
              <th >Credit Colln.</th>
              <th >Msc. Inc.</th>
              <th >Withdrawal</th>
              <th >Purchase</th>
              <th >Sup. Pay.</th>
              <th >Expense</th>
              <th >Bank Dep.</th>
              <th >Cl. Bal.</th>
              <th >Status</th>
              <th >Created On</th>
              <th >Updated On</th>
              <th >Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for summary in daily_summaries %}
              <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>
                  {% if summary.date == today and summary.status == 'ongoing' %}
                  <a href="{% url 'save_after_submit' %}?id={{ summary.daily_summary_id }}" class="ath" target="_blank">  {{ summary.date|date:"d-m-y" }}</a>
                  {% else %}
                  {{ summary.date|date:"d-m-y" }}
                  {% endif %}
                </td>
                <td>{{ summary.opening_balance }}</td>
                <td>{{ summary.sales }}</td>
                <td>{{ summary.credit_collection }}</td>
                <td>{{ summary.miscellaneous_income }}</td>
                <td>{{ summary.withdrawal }}</td>
                <td>{{ summary.purchase }}</td>
                <td>{{ summary.supplier_payment }}</td>
                <td>{{ summary.expense }}</td>
                <td><span class="text-right">{{ summary.bank_deposit }}</span></td>
                <td><span class="text-right">{{ summary.closing_balance }}</span></td>
                <td><span class="text-capitalize text-right">{{ summary.status }}</span></td>
                <td><span class="text-right pl-2">{{ summary.created_on }}</span></td>
                <td><span class="text-right pl-2">{{ summary.updated_on }}</span></td>
                <td>
                  {% if summary.date == today and summary.status == 'ongoing' %}
                    <a href="{% url 'save_after_submit' %}?id={{ summary.daily_summary_id }}" target="_blank" class="btn btn-primary btn-sm">Edit</a>
                  {% else %}
                    <button class="btn btn-primary btn-sm" disabled>Edit</button>
                  {% endif %}
                </td>  
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('daily_summary_id').addEventListener('click', function(e) {
    e.preventDefault();
    fetch(`/api/daily_summary_exists/`)
      .then(response => response.json())
      .then(data => {
        const dailySummaryLink = document.getElementById("daily_summary_id");
        if (data.exists === true) {
          message.style.display = "block";
          message.innerHTML = "Daily summary already submitted";
          message.classList.remove('d-none');
        } else {
          const id = 'DS_' + Math.random().toString(36).substr(2, 10);
          const url = "{% url 'create_daily_summary' %}?id=" + id;
          window.location.href = url;
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });

  new DataTable('#dailysummary', {
    responsive: true,
    dom: 'lBfrtip',
    order: [[0, 'desc']],
    buttons: [
      {
        text: 'Print',
        extend: 'print',
        exportOptions: {
          stripHtml: false,
          columns: [0, 1, 2, 3, 4]
        }
      },
      {
        text: 'Export PDF',
        extend: 'pdf',
        exportOptions: {
          stripHtml: true,
        },
      }
    ],
  });
</script>
{% endblock %}
