{% extends 'base.html' %}

{% block title %}Daily Summary Details{% endblock %}

{% block content %}

<style>
    .awesomplete ul {
        width: 100%;
        box-sizing: border-box;
        max-height: 50px !important;
        overflow-y: auto;
    }
    thead>tr>th{
        background-color: dimgray !important;
    }
</style>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<!-- Include Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />

<!-- Include jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Include Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>


<style>
    .bg-white{
        color:#000 !important;
    }
    .br-5{
        border-radius: 5px !important;
    }
    .toggle-content{
        display: none;
    }
</style>

<div class="container ">
    <div class="card  ">
        <div class="card-header">
            <h5 class="mb-0">Daily Summary Details</h5>
          </div>
          <!-- <form method="post"  enctype="multipart/form-data" class="form" id="daily_summary_form"> -->
        <div class="card-body ">
            <div class="card mt-0">
                <div class="card-body bg-white br-5">
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_date">Date:</label>
                                <input type="date" name="date" required class="form-control bg-light" id="id_date" tabindex="-1" value="{{ daily_summary.date|date:'Y-m-d' }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_cash_on_hand">Opening Balance</label>
                                <input type="number" name="opening_balance" value="{{ daily_summary.opening_balance|floatformat:'2'}}" required class="form-control bg-light"  tabindex="0" readonly>   
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_cash_on_hand">Closing Balance</label>
                                <input type="number" name="closing_balance" value="{{ daily_summary.closing_balance|floatformat:'2'}}" required class="form-control bg-light" tabindex="0" readonly>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" >
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Sale</h5>
                </div>
                <div class="card-body bg-white br-5">
                    <div class="row ">
                        <div class="col-md-2">
                            <label>Cash </label>
                            <input type="number" name="cash_sale" required class="form-control bg-light" id="id_cash_sale"  value="{{ bank_sale_total_cash_sale|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-2">
                            <label>Credit </label>
                            <input type="number" name="credit_sale" required class="form-control bg-light" id="id_credit_sale"  value="{{ bank_sale_total_credit_sale|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-2">
                            <label>Card </label>
                            <input type="number" name="card_sale" required class="form-control bg-light" id="id_card_sale"  value="{{ bank_sale_total_card_sale|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque</label>
                            <input type="number" name="cheque_sale" required class="form-control bg-light" id="id_cheque_sale"  value="{{ bank_sale_total_cheque_sale|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank</label>
                            <input type="number" name="bank_sale" required class="form-control bg-light" id="id_bank_sale"  value="{{ bank_sale_total_bank_sale|floatformat:'2' }}" readonly> 
                        </div>
                    </div>
                    <div class="row mb-3 mt-2">
                        <div class="col-md-4 ">
                            <label>Sales Total</label>
                            <div class="bg-light p-2 rounded">{{total_bank_sale_amount|floatformat:'2'}}</div>
                        </div>
                        
                    </div>
                    <div class="table-responsive">
                    <table  class="table table-bordered table-striped "  id="tablebanksale" >
                        <thead style="color:transparent !important;">
                            <tr>
                                <th>Customer</th>
                                <th>Transaction Mode</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <!-- <th>Dep. Date</th> -->
                                <th>Chq. Date</th>
                                <th>Chq No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in bank_sales %}
                            <tr>
                                <td>{{ sale.customer.name }}</td>
                                <td class="text-capitalize">{{ sale.mode_of_transaction.name }}</td>
                                <td>{{ sale.bank.name }}</td>
                                <td>{{ sale.amount }}</td>
                                <!-- <td>{{ sale.created_on|date:"d/m/Y" }}</td> -->
                                <td>{{ sale.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ sale.cheque_no }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="card  mt-4" >
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Credit Collection</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash</label>
                            <input type="number" name="cash_collection" required class="form-control bg-light" id="id_cash_collection"  value="{{ credit_sale_total_cash_sale|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_collection" required class="form-control bg-light" id="id_bank_collection"  value="{{ credit_sale_total_bank_sale|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_collection" required class="form-control bg-light" id="id_card_collection"  value="{{ credit_sale_total_card_sale|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque</label>
                            <input type="number" name="cheque_collection" required class="form-control bg-light" id="id_cheque_collection"  value="{{ credit_sale_total_cheque_sale|floatformat:'2' }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">
                        <div class="col-md-3">
                            <label>Credit Collection Total</label>
                            <div class="bg-light p-2 rounded">{{total_credit_sale_amount|floatformat:'2'}}</div>
                        </div> 
                        
                    </div>
                    <div class="table-responsive">
                    <table id="tablecreditcollection"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color:transparent !important;">
                            <tr>
                                <th>Customer</th>
                                <th>Op. Outstanding</th>
                                <th>Payment Mode</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <!-- <th>Dep. Date</th> -->
                                <th>Chq. Date</th>
                                <th>Chq No.</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for creditcol in credit_collections %}
                            <tr>
                                <td>{{ creditcol.customer.name }}</td>
                                <td>{{ creditcol.opening_outstanding }}</td>
                                <td  class="text-capitalize">{{ creditcol.payment_mode.name }}</td>
                                <td>{{ creditcol.bank.name }}</td>
                                <td>{{ creditcol.amount }}</td>
                                <!-- <td>{{ creditcol.created_on|date:"d/m/Y" }}</td> -->
                                <td>{{ creditcol.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ creditcol.cheque_no }}</td>
                                

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>



            <div class="card  mt-4" >
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Miscellaneous Income</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash </label>
                            <input type="number" name="cash_msc_income" required class="form-control bg-light" id="id_cash_msc_income"  value="{{ mis_income_total_cash|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_msc_income" required class="form-control bg-light" id="id_bank_msc_income"  value="{{ mis_income_total_bank|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_msc_income" required class="form-control bg-light" id="id_card_msc_income"  value="{{ mis_income_total_card|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_msc_income" required class="form-control bg-light" id="id_cheque_msc_income"  value="{{ mis_income_total_cheque|floatformat:'2' }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">
                        <div class="col-md-3">
                            <label>Msc. Income Total</label>
                            <div class="bg-light p-2 rounded">{{total_mis_income_amount|floatformat:'2'}}</div>
                        </div> 
                    </div>
                    <div class="table-responsive">
                    <table id="tablemscincome"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <th>Income Type</th>
                                <th>Mode of Transaction</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <!-- <th>Dep. Date</th> -->
                                <th>Chq. Date</th>
                                <th>Chq No.</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for msc_incomes in msc_income %}
                            <tr>
                                <td>{{ msc_incomes.receipt_type.name }}</td>
                                <td  class="text-capitalize">{{ msc_incomes.mode_of_transaction.name }}</td>
                                <td>{{ msc_incomes.bank.name }}</td>
                                <td>{{ msc_incomes.amount }}</td>
                                <!-- <td>{{ msc_incomes.created_on|date:"d/m/Y" }}</td> -->
                                <td>{{ msc_incomes.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ msc_incomes.cheque_no }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


            <div class="card mt-4" >
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Withdrawal</h5>
                </div>
                <div class="card-body bg-white br-5">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label>Cash </label>
                            <input type="number" name="cash_withdrawal" required class="form-control bg-light" id="id_cash_withdrawal"  value="{{ withdrawal_total_cash|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_withdrawal" required class="form-control bg-light" id="id_cheque_withdrawal"  value="{{ withdrawal_total_cheque|floatformat:'2' }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">                        
                        <div class="col-md-3">
                            <label>Withdrawal Total</label>
                            <div class="bg-light p-2 rounded">{{total_withdrawal_amount|floatformat:'2'}}</div>
                        </div> 
                    </div>
                    
                    <div class="table-responsive">
                        <table id="tablewithdrawal"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                            <thead class="thead-light" style="border-color: transparent !important;">
                                <tr>
                                    <th>Bank</th>
                                    <th>With. Date</th>
                                    <th>Amount</th>
                                    <th>Mode of Transaction</th>
                                    <th>Created On</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for withdrawal in withdrawal %}
                                <tr>
                                    <td>{{ withdrawal.bank.bank.name }}</td>
                                    <td>{{ withdrawal.withdrawal_date|date:"d/m/Y" }}</td>
                                    <td>{{ withdrawal.amount }}</td>
                                    <td class="text-capitalize">{{ withdrawal.mode_of_transaction.name }}</td>
                                    <td>{{ withdrawal.created_on|date:"d/m/Y" }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




            <div class="card  mt-4" >
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Purchases</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    <div class="row ">
                        <div class="col-md-2">
                            <label>Cash </label>
                            <input type="number" name="cash_purchase" required class="form-control bg-light" id="id_cash_purchase"  value="{{ purchase_total_cash|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-2">
                            <label>Bank </label>
                            <input type="number" name="bank_purchase" required class="form-control bg-light" id="id_bank_purchase"  value="{{ purchase_total_bank|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-2">
                            <label>Card </label>
                            <input type="number" name="card_purchase" required class="form-control bg-light" id="id_card_purchase"  value="{{ purchase_total_card|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_purchase" required class="form-control bg-light" id="id_cheque_purchase"  value="{{ purchase_total_cheque|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Credit </label>
                            <input type="number" name="credit_purchase" required class="form-control bg-light" id="id_credit_purchase"  value="{{ purchase_total_credit|floatformat:'2' }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">
                        
                        <div class="col-md-3">
                            <label>Purchases Total</label>
                            <div class="bg-light p-2 rounded">{{total_purchase_amount|floatformat:'2'}}</div>
                        </div> 
                     
                    </div>
                    <div class="table-responsive">
                    <table id="tablepurchases"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <tr>
                                    <th>Supplier</th>
                                    <th>Opening Outstanding</th>
                                    <th>Mode of Transaction</th>
                                    <th>Invoice Date</th>
                                    <th>Invoice No</th>
                                    <th>Invoice Amount</th>
                                    <th>Cheque Date</th>
                                    <th>Cheque No</th>
                                    <th>Bank</th>

                                </tr>                                
                        </thead>
                        <tbody>
                           
                            {% for purchase in purchases %}
                            <tr>
                                <td>{{ purchase.supplier.name }}</td>
                                <td>{{ purchase.opening_outstanding }}</td>
                                <td  class="text-capitalize">{{ purchase.mode_of_transaction.name }}</td>
                                <td>{{ purchase.invoice_date|date:"d/m/Y" }}</td>
                                <td>{{ purchase.invoice_no }}</td>
                                <td>{{ purchase.invoice_amount }}</td>
                                <td>{{ purchase.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ purchase.cheque_no }}</td>
                                <td>{{ purchase.bank.bank.name }}</td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


            <div class="card  mt-4">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Supplier Payment</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash</label>
                            <input type="number" name="cash_supplier_payment" required class="form-control bg-light" id="id_cash_supplier_payment"  value="{{ supplier_payment_total_cash|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank</label>
                            <input type="number" name="bank_supplier_payment" required class="form-control bg-light" id="id_bank_supplier_payment"  value="{{ supplier_payment_total_bank|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_supplier_payment" required class="form-control bg-light" id="id_card_supplier_payment"  value="{{ supplier_payment_total_card|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_supplier_payment" required class="form-control bg-light" id="id_cheque_supplier_payment"  value="{{ supplier_payment_total_cheque|floatformat:'2' }}" readonly> 
                        </div>
                    </div>

                    
                    <div class="row mb-3 mt-2">                        
                        <div class="col-md-3">
                            <label>Supplier Payment Total</label>
                            <div class="bg-light p-2 rounded">{{total_supplier_payment_amount|floatformat:'2'}}</div>
                        </div> 
                       
                    </div>
                    <div class="table-responsive">
                    <table id="tablesupplierpayment"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <th>Supplier</th>
                                <th>Opening Outstanding</th>
                                <th>Payment Mode</th>
                                <th>Amount</th>
                                <th>Cheque Date</th>
                                <th>Cheque No</th>
                                <th>Bank</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for supplier_payment in supplier_payments %}
                            <tr>
                                <td>{{ supplier_payment.supplier.name }}</td>
                                <td  class="text-capitalize">{{ supplier_payment.opening_outstanding }}</td>
                                <td>{{ supplier_payment.mode_of_transaction }}</td>
                                <td>{{ supplier_payment.amount }}</td>
                                <td>{{ supplier_payment.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ supplier_payment.cheque_no }}</td>
                                <td>{{ supplier_payment.bank.bank.name }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>



            <div class="card  mt-4" >
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Expenses</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash </label>
                            <input type="number" name="cash_expense" required class="form-control bg-light" id="id_cash_expense"  value="{{ expense_total_cash|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_expense" required class="form-control bg-light" id="id_bank_expense"  value="{{ expense_total_bank|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_expense" required class="form-control bg-light" id="id_card_expense"  value="{{ expense_total_card|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_expense" required class="form-control bg-light" id="id_cheque_expense"  value="{{ expense_total_cheque|floatformat:'2' }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">                        
                        <div class="col-md-3">
                            <label>Expense Total</label>
                            <div class="bg-light p-2 rounded">{{total_expense_amount|floatformat:'2'}}</div>
                        </div> 
                    
                    </div>
                    <div class="table-responsive">
                    <table id="tableexpense"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <th>Income Type</th>
                                <th>Payment Mode</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Remark</th>
                                <th>Create Date</th>
                                <th>Chq. Date</th>
                                <th>Chq No.</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for expense in expenses %}
                            <tr>
                                <td>{{ expense.expense_type.name }}</td>
                                <td  class="text-capitalize">{{ expense.mode_of_transaction.name }}</td>
                                <td>{{ expense.bank.bank.name }}</td>
                                <td>{{ expense.amount }}</td>
                                <td>{{ expense.invoice_no}}</td>
                                <td>{{ expense.created_on|date:"d/m/Y" }}</td>
                                <td>{{ expense.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ expense.cheque_no }}</td>
                                
                             </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


            <div class="card  mt-4">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Bank Deposit</h5>
                </div>
                <div class="card-body bg-white  br-5" >
                    
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash </label>
                            <input type="number" name="cash_bank_deposit" required class="form-control bg-light" id="id_cash_bank_deposit"  value="{{ bank_deposit_total_cash|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_bank_deposit" required class="form-control bg-light" id="id_bank_bank_deposit"  value="{{ bank_deposit_total_bank|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_bank_deposit" required class="form-control bg-light" id="id_card_bank_deposit"  value="{{ bank_deposit_total_card|floatformat:'2' }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_bank_deposit" required class="form-control bg-light" id="id_cheque_bank_deposit"  value="{{ bank_deposit_total_cheque|floatformat:'2' }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">                        
                        <div class="col-md-3">
                            <label>Bank Deposit Total</label>
                            <div class="bg-light p-2 rounded">{{bank_deposit_amount|floatformat:'2'}}</div>
                        </div> 
                    </div>
                    
                    <div class="table-responsive">
                    <table id="tablebankdeposit"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <!-- <th>Customer</th> -->
                                <th>Dep. Bank</th>
                                <th>Payment Mode</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Dep. Date</th>
                                <th>Chq. Date</th>
                                <th>Chq No.</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for bank_deposit in bank_deposits %}
                            <tr>
                                <!-- <td>{{ bank_deposit.customer.name }}</td> -->
                                <td>{{ bank_deposit.bank_deposit_bank.bank.name }}</td>
                                <td  class="text-capitalize">{{ bank_deposit.mode_of_transaction.name }}</td>
                                <td>{{ bank_deposit.bank.name }}</td>
                                <td>{{ bank_deposit.amount }}</td>
                                <td>{{ bank_deposit.created_on|date:"d/m/Y" }}</td>
                                <td>{{ bank_deposit.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ bank_deposit.cheque_no }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Daily Summary</h5>
                </div>
                <div class="card-body bg-white br-5">
                    <div class="row ">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="sales">Sale</label>
                                <input type="number" name="sales" value="{{ daily_summary.sales|floatformat:'2'}}" required class="form-control bg-light"   readonly>   

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="credit_collection">Credit</label>
                                <input type="number" name="credit_collection" value="{{ daily_summary.credit_collection|floatformat:'2'}}" required class="form-control bg-light"  readonly>   
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="miscellaneous_income">Misc.Income</label>
                                <input type="number" name="miscellaneous_income" value="{{ daily_summary.miscellaneous_income|floatformat:'2'}}" required class="form-control bg-light" readonly>   
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="withdrawal">Withdrawal</label>
                                <input type="number" name="withdrawal" value="{{ daily_summary.withdrawal|floatformat:'2'}}" required class="form-control bg-light" readonly>   
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="purchase">Purchase</label>
                                <input type="number" name="purchase" value="{{ daily_summary.purchase|floatformat:'2'}}" required class="form-control bg-light"   readonly>   

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="supplier_payment">Supplier Payment</label>
                                <input type="number" name="supplier_payment" value="{{ daily_summary.supplier_payment|floatformat:'2'}}" required class="form-control bg-light"  readonly>   
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="expense">Expense</label>
                                <input type="number" name="expense" value="{{ daily_summary.expense|floatformat:'2'}}" required class="form-control bg-light" readonly>   
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="bank_deposit">Bank Deposit</label>
                                <input type="number" name="bank_deposit" value="{{ daily_summary.bank_deposit|floatformat:'2'}}" required class="form-control bg-light" readonly>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer mb-0">
            <div class="form-group d-flex justify-content-start align-items-left gap-3 mb-0">
                <a href="{% url 'daily_summary_list' %}" class="btn btn-secondary text-white">
                    Back
                </a>
</div>
        </div>
    <!-- </form> -->
    </div>
</div>



{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
   $(document).ready(function() {
    // Initialize DataTables
    $('#tablebanksale, #tablecreditcollection, #tablebankdeposit, #tableexpense, #tablepurchase, #tablemscincome, #tablesupplierpayment').DataTable({
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            {
                text: 'Print',
                extend: 'print',
                exportOptions: {
                    stripHtml: false,
                    columns: [0, 1, 2, 3, 4]
                }
            },
            {
                text: 'Export PDF',
                extend: 'pdf',
                exportOptions: {
                    stripHtml: true,
                },
            }
        ],
    });

   
});

</script>

{% endblock %}


