{% extends 'base.html' %}

{% block title %}Create Daily Summary{% endblock %}

{% block content %}

<style>
    .awesomplete ul {
        width: 100%;
        box-sizing: border-box;
        max-height: 50px !important;
        overflow-y: auto;
    }
</style>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


<script>
     document.addEventListener('DOMContentLoaded', (event) => {

        const currentUrl = window.location.href;        
        const url = new URL(currentUrl);
        const id = url.searchParams.get('id');
        console.log("ID: ", id);
        if (id) {
            document.getElementById('daily_summary_id').value = id;
            // document.getElementById('modal_daily_summary_id_bank').value = id;
        }

    });
</script>
<script>
//   document.addEventListener('DOMContentLoaded', function() {
//   var selectElements = document.querySelectorAll('.js-cheque-number-select2');
  
//   // Iterate over each select element and initialize Select2
//   selectElements.forEach(function(selectElement) {
//     $(selectElement).select2({
//       placeholder: "-- Select Cheque Number --",
//       allowClear: true, // Option to clear selection
//       minimumResultsForSearch: -1 // Enable search
//     });
//   });
// });
$(document).ready(function() {
  function fetchChequeNumbers(did) {
    console.log('Fetching cheque numbers for daily summary ID:', did);

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/fetch_cheque_numbers/' + did + '/');
    xhr.onload = function() {
      if (xhr.status === 200) {
        var data = JSON.parse(xhr.responseText);
        console.log('Fetched cheque details:', data);

        $('.js-cheque-number-select2').each(function() {
          var $select = $(this);
          $select.empty(); // Clear existing options
          $select.append($('<option>').attr('value', '').text('-- Select Cheque Number --'));

          data.forEach(function(cheque) {
            $select.append($('<option>').attr('value', cheque.cheque_no).text(cheque.cheque_no));
          });

          $select.select2({
            placeholder: "-- Select Cheque Number --",
            allowClear: true,
            minimumResultsForSearch: 0,
            tags: true,
            tokenSeparators: [',', ' ']
          });
        });
      } else {
        console.error('Error fetching cheque details:', xhr.statusText);
      }
    };
    xhr.onerror = function() {
      console.error('Request failed');
    };
    xhr.send();
  }

  $('#bankDepositModal').on('shown.bs.modal', function() {
    var modalDailySummaryId = $('#modal_daily_summary_id1').val();
    if (modalDailySummaryId) {
      fetchChequeNumbers(modalDailySummaryId);
    }

    $('#modal_daily_summary_id1').on('change', function() {
      var newDailySummaryId = $(this).val();
      if (newDailySummaryId) {
        fetchChequeNumbers(newDailySummaryId);
      }
    });
    $('.js-cheque-number-select2').on('change', function() {
        var selectedChequeNo = $(this).val();
        var did = document.getElementById('daily_summary_id').value;

        console.log('Selected Cheque No:', selectedChequeNo);
        console.log('Daily Summary ID:', did);

        // Make an AJAX request to fetch cheque details for the selected cheque number
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/fetch_cheque_numbers/' + did + '/');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                console.log('Fetched cheque details:', data);

                // Find selected cheque details in data array
                var selectedChequeDetails = data.find(function(cheque) {
                    return cheque.cheque_no === selectedChequeNo;
                });

                if (selectedChequeDetails) {
                    console.log('Cheque Date:', selectedChequeDetails.cheque_date);
                    console.log('Amount:', selectedChequeDetails.amount);
                    console.log('Bank:', selectedChequeDetails.bank.id);

                    // Update input fields with selected cheque details using value property
                    document.getElementById('id_cheque_date').value = selectedChequeDetails.cheque_date;
                    document.getElementById('id_amount').innerText = selectedChequeDetails.amount;

                    // Optionally, update bank name if available
                    if (selectedChequeDetails.bank) {
                        document.getElementById('id_bank').value = selectedChequeDetails.bank.id;
                    } else {
                        document.getElementById('id_bank').value = '';
                    }
                } else {
                    console.error('Selected cheque number details not found in fetched data.');
                }
            } else {
                console.error('Error fetching cheque details:', xhr.statusText);
            }
        };
        xhr.onerror = function() {
            console.error('Request failed');
        };
        xhr.send();
    });


  });
});

</script>


    
<script>
   
    
        // window.addEventListener('beforeunload', (event) => {
        //     const message = 'Are you sure you want to leave? Any unsaved changes will be lost.';
        //     event.preventDefault();
        //     event.returnValue = message; // For modern browsers
        //     return message; // For older browsers
        // });
        


    document.addEventListener('DOMContentLoaded', (event) => {
        
        const dateInput = document.getElementById('id_date');
        const today = new Date();

        // Format today's date as 'YYYY-MM-DD'
        const formattedToday = today.toISOString().split('T')[0];

        // Get start and end times from the server in 'g:i A' format
        const startTimeValue = "{{ start_time|default_if_none:''|date:'g:i A' }}";
        const endTimeValue = "{{ end_time|default_if_none:''|date:'g:i A' }}";

        // Function to convert 'g:i A' format to 24-hour format
        function convertTo24Hour(time) {
            const [timePart, modifier] = time.split(' ');
            let [hours, minutes] = timePart.split(':');
            if (hours === '12') {
                hours = '00';
            }
            if (modifier === 'PM') {
                hours = parseInt(hours, 10) + 12;
            }
            return { hours: parseInt(hours, 10), minutes: parseInt(minutes, 10) };
        }

        // Parse start and end times to Date objects
        const startTimeParts = convertTo24Hour(startTimeValue);
        const endTimeParts = convertTo24Hour(endTimeValue);

        const startTime = new Date(today);
        startTime.setHours(startTimeParts.hours);
        startTime.setMinutes(startTimeParts.minutes);

        const endTime = new Date(today);
        endTime.setHours(endTimeParts.hours);
        endTime.setMinutes(endTimeParts.minutes);

        // Check if the end time is before the start time
        if (endTime <= startTime) {
            // If end time is before or equal to start time, it means end time is on the next day
            endTime.setDate(endTime.getDate() + 1);
        }

        // Format tomorrow's date as 'YYYY-MM-DD' from end time date
        const formattedTomorrow = endTime.toISOString().split('T')[0];

        // Set date input value and limits
        dateInput.value = formattedToday;
        dateInput.min = formattedToday;
        dateInput.max = formattedTomorrow;

        // Set the start and end times in the hidden inputs
        const startTimeInput = document.getElementById('start_time');
        const endTimeInput = document.getElementById('end_time');

        startTimeInput.value = startTimeValue;
        endTimeInput.value = endTimeValue;
        get_closing_balance()
    });
</script>
<script>
    $(document).ready(function() {
        function toggleChequeDetails() {
            const modal = $('.modal.show'); // Get the currently shown modal
            const modeOfTransactionSelect = modal.find('#id_mode_of_transaction');
            const chequeDetails = modal.find('#chequeDetails');
            const chequeDetails1 = modal.find('#chequeDetails1');
            const chequeDetails2 = modal.find('#chequeDetails2');
            const bank_detail1 = modal.find('#bank_detail1');
            const date_detail1 = modal.find('#date_detail1');
            if (modeOfTransactionSelect.length > 0) {
                const selectedMode = modeOfTransactionSelect.find('option:selected').text().toLowerCase();
                
                if (selectedMode === 'cheque' ) {
                    chequeDetails.removeClass('d-none');
                    chequeDetails1.removeClass('d-none');
                    chequeDetails2.removeClass('d-none');
                    bank_detail1.removeClass('d-none');
                    date_detail1.addClass('d-none');

                    chequeDetails1.find('input, select, textarea').prop('required', true);
                    chequeDetails.find('input, select, textarea').prop('required', true);
                    chequeDetails2.find('input, select, textarea').prop('required', true);
                    bank_detail1.find('input, select, textarea').prop('required', true);
                    date_detail1.find('input, select, textarea').prop('required', false);
    
                } else if(selectedMode ==='cash'|| selectedMode === 'credit') {
                    chequeDetails.addClass('d-none');
                    chequeDetails1.addClass('d-none');
                    chequeDetails2.addClass('d-none');
                    bank_detail1.addClass('d-none');
                    date_detail1.addClass('d-none');

                    chequeDetails.find('input, select, textarea').prop('required', false);
                    chequeDetails1.find('input, select, textarea').prop('required', false);
                    chequeDetails2.find('input, select, textarea').prop('required', false);
                    bank_detail1.find('input, select, textarea').prop('required', false);
                    date_detail1.find('input, select, textarea').prop('required', false);
    
                }
                else if(selectedMode === 'bank transfer'){
                    chequeDetails.addClass('d-none');
                    chequeDetails1.addClass('d-none');
                    chequeDetails2.addClass('d-none');
                    bank_detail1.removeClass('d-none');
                    date_detail1.removeClass('d-none');

                    chequeDetails.find('input, select, textarea').prop('required', false);
                    chequeDetails1.find('input, select, textarea').prop('required', false);
                    chequeDetails2.find('input, select, textarea').prop('required', false);
                    bank_detail1.find('input, select, textarea').prop('required', true);
                    date_detail1.find('input, select, textarea').prop('required', true);
                }
                else  {
                    chequeDetails.addClass('d-none');
                    chequeDetails1.addClass('d-none');
                    chequeDetails2.addClass('d-none');
                    bank_detail1.removeClass('d-none');
                    date_detail1.addClass('d-none');

                    chequeDetails.find('input, select, textarea').prop('required', false);
                    chequeDetails1.find('input, select, textarea').prop('required', false);
                    chequeDetails2.find('input, select, textarea').prop('required', false);
                    bank_detail1.find('input, select, textarea').prop('required', true);
                    date_detail1.find('input, select, textarea').prop('required', false);
    
                }
            }
        }
    
        function setDailySummaryId(modalId, inputId) {
            const modal = $(`#${modalId}`);
            modal.on('show.bs.modal', function (event) {
                var urlParams = new URLSearchParams(window.location.search);
                var dailySummaryId = urlParams.get('id');
                document.getElementById(inputId).value = dailySummaryId;
                $(`#${inputId}`).val(dailySummaryId);
    
                // Initial check when the modal is opened
                toggleChequeDetails();
    
                // Add change event listener within the context of the modal
                const modeOfTransactionSelect = modal.find('#id_mode_of_transaction');
                modeOfTransactionSelect.on('change', toggleChequeDetails);
            });
    
            modal.on('hidden.bs.modal', function() {
                const modeOfTransactionSelect = $(this).find('#id_mode_of_transaction');
                modeOfTransactionSelect.off('change', toggleChequeDetails);
            });
        }
    
        setDailySummaryId('bankSaleModal', 'modal_daily_summary_id4');
        setDailySummaryId('bankDepositModal', 'modal_daily_summary_id1');
        setDailySummaryId('miscIncomeModal', 'modal_daily_summary_id2');
        setDailySummaryId('creditCollectionModal', 'modal_daily_summary_id3');
        setDailySummaryId('purchaseModal', 'modal_daily_summary_id5');
        setDailySummaryId('supplierPaymentModal', 'modal_daily_summary_id6');
        setDailySummaryId('expenseModal', 'modal_daily_summary_id7');
        setDailySummaryId('withdrawalModal', 'modal_daily_summary_idw');
    });
    
    </script>
    
<script>
    function get_closing_balance() {
        // Modify the function to accept the selected date as a parameter
        id = document.getElementById('daily_summary_id').value
        fetch(`/get_closing_balance/${id}/`)
            .then(response => response.json())
            .then(data => {
                console.log('pp',data.closing_balance)
            document.getElementById('id_closing_balance').innerHTML = `Closing Balance: ${data.closing_balance}`;

            })
            .catch(error => console.error('Error:', error));
    }

    function saveFunction() {
        document.getElementById('status').value = 'ongoing';
        document.getElementById("daily_summary_form").submit();
    }
    function submitFunction() {
        document.getElementById('status').value = 'completed';
        document.getElementById("daily_summary_form").submit();
    }
</script>

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this bank deposit?');
    }
    </script>


<style>
    .bg-white{
        color:#000 !important;
    }
    .br-5{
        border-radius: 5px !important;
    }
    .toggle-content{
        display: none;
    }
</style>
<div class="container ">
    <div class="card  ">
        <div class="card-header">
            <h5 class="mb-0">Edit Daily Summary</h5>
          </div>
          <form method="post"  enctype="multipart/form-data" class="form" id="daily_summary_form">
        <div class="card-body ">
            {% csrf_token %}
            <div class="card mt-0">
                <div class="card-body bg-white br-5">
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_date">Date:</label>
                                <input type="date" name="date" required class="form-control bg-light" id="id_date" tabindex="-1">   
                                <input type="hidden" name="business_profile" value={{business_profile}}>
                                <input type="hidden" id="daily_summary_id" name="daily_summary_id" value="">
                                <input type="hidden" id="start_time" value="{{ start_time|default_if_none:''|date:'g:i A' }}">
                                <input type="hidden" id="end_time" value="{{ end_time|default_if_none:''|date:'g:i A' }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_date">Opening Balance <small class="text-muted">(cash on hand)</small>:</label>
                                <input type="number" name="opening_balance" value="{{cash_on_hand}}" required class="form-control bg-light" id="id_cash_on_hand" tabindex="0" readonly>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="1">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Sale</h5>
                </div>
                <div class="card-body bg-white br-5">
                    <div class="row ">
                        <div class="col-md-2">
                            <label>Cash </label>
                            <input type="number" name="cash_sale" required class="form-control bg-light" id="id_cash_sale" tabindex="1" value="{{ bank_sale_total_cash_sale }}" readonly> 
                        </div>
                        <div class="col-md-2">
                            <label>Credit </label>
                            <input type="number" name="credit_sale" required class="form-control bg-light" id="id_credit_sale" tabindex="2" value="{{ bank_sale_total_credit_sale }}" readonly> 
                        </div>
                        <div class="col-md-2">
                            <label>Card </label>
                            <input type="number" name="card_sale" required class="form-control bg-light" id="id_card_sale" tabindex="3" value="{{ bank_sale_total_card_sale }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque</label>
                            <input type="number" name="cheque_sale" required class="form-control bg-light" id="id_cheque_sale" tabindex="4" value="{{ bank_sale_total_cheque_sale }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank</label>
                            <input type="number" name="bank_sale" required class="form-control bg-light" id="id_bank_sale" tabindex="5" value="{{ bank_sale_total_bank_sale }}" readonly> 
                        </div>
                    </div>
                    <div class="row mb-3 mt-2">
                        <div class="col-md-4 ">
                            <label>Sales Total</label>
                            <div class="bg-light p-2 rounded">{{total_bank_sale_amount}}</div>
                                <input type="hidden" name="sales" value="{{ total_bank_sale_amount }}"  required class="form-control bg-light" id="id_bank_sale_total" > 
                        </div>
                        <div class="col-md-4 d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#bankSaleModal">Add</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table  class="table table-bordered table-striped "  id="tablebanksale" >
                        <thead style="color:transparent !important;">
                            <tr>
                                <th>Customer</th>
                                <th>Transaction Mode</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Dep. Date</th>
                                <th>Chq. Date</th>
                                <th>Chq No.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in bank_sales %}
                            <tr>
                                <td>{{ sale.customer.name }}</td>
                                <td class="text-capitalize">{{ sale.mode_of_transaction.name }}</td>
                                <td>{{ sale.bank.name }}</td>
                                <td>{{ sale.amount }}</td>
                                <td>{{ sale.created_on|date:"d/m/Y" }}</td>
                                <td>{{ sale.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ sale.cheque_no }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'edit_bank_sale' sale.id %}" class="me-2">
                                            <i class="fas fa-pen text-dark"></i>
                                        </a>
                                        <a href="{% url 'delete_bank_sale' sale.id %}" onclick="return confirmDelete();">
                                            <i class="fas fa-trash text-dark"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="card  mt-4"  id="2">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Credit Collection</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash</label>
                            <input type="number" name="cash_collection" required class="form-control bg-light" id="id_cash_collection" tabindex="1" value="{{ credit_sale_total_cash_sale }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_collection" required class="form-control bg-light" id="id_bank_collection" tabindex="2" value="{{ credit_sale_total_bank_sale }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_collection" required class="form-control bg-light" id="id_card_collection" tabindex="3" value="{{ credit_sale_total_card_sale }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque</label>
                            <input type="number" name="cheque_collection" required class="form-control bg-light" id="id_cheque_collection" tabindex="4" value="{{ credit_sale_total_cheque_sale }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">
                        <div class="col-md-3">
                            <label>Credit Collection Total</label>
                            <div class="bg-light p-2 rounded">{{total_credit_sale_amount}}</div>
                            <input type="hidden" name="credit_collection" value="{{total_credit_sale_amount}}"  required class="form-control bg-light" id="id_credit_collection_total" > 
                        </div> 
                        <div class="col-md-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#creditCollectionModal">Add </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table id="tablecreditcollection"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color:transparent !important;">
                            <tr>
                                <th>Customer</th>
                                <th>Op. Outstanding</th>
                                <th>Payment Mode</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Dep. Date</th>
                                <th>Chq. Date</th>
                                <th>Chq No.</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for creditcol in credit_collections %}
                            <tr>
                                <td>{{ creditcol.customer.name }}</td>
                                <td>{{ creditcol.opening_outstanding }}</td>
                                <td  class="text-capitalize">{{ creditcol.payment_mode.name }}</td>
                                <td>{{ creditcol.bank.name }}</td>
                                <td>{{ creditcol.amount }}</td>
                                <td>{{ creditcol.created_on|date:"d/m/Y" }}</td>
                                <td>{{ creditcol.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ creditcol.cheque_no }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'edit_credit_collection' creditcol.id %}" class="me-2">
                                            <i class="fas fa-pen text-dark"></i>
                                        </a>
                                        <a href="{% url 'delete_credit_collection' creditcol.id %}" onclick="return confirmDelete();">
                                            <i class="fas fa-trash text-dark"></i>
                                        </a>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>



            <div class="card  mt-4" id="3">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Miscellaneous Income</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash </label>
                            <input type="number" name="cash_msc_income" required class="form-control bg-light" id="id_cash_msc_income" tabindex="1" value="{{ mis_income_total_cash }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_msc_income" required class="form-control bg-light" id="id_bank_msc_income" tabindex="2" value="{{ mis_income_total_bank }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_msc_income" required class="form-control bg-light" id="id_card_msc_income" tabindex="3" value="{{ mis_income_total_card }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_msc_income" required class="form-control bg-light" id="id_cheque_msc_income" tabindex="4" value="{{ mis_income_total_cheque }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">
                        <div class="col-md-3">
                            <label>Msc. Income Total</label>
                            <div class="bg-light p-2 rounded">{{total_mis_income_amount}}</div>
                            <input type="hidden" name="miscellaneous_income" value="{{total_mis_income_amount}}" required class="form-control bg-light" id="id_msc_income_total" > 
                        </div> 
                        <div class="col-md-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#miscIncomeModal">Add</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table id="tablemscincome"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <th>Income Type</th>
                                <th>Mode of Transaction</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Dep. Date</th>
                                <th>Chq. Date</th>
                                <th>Chq No.</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for msc_incomes in msc_income %}
                            <tr>
                                <td>{{ msc_incomes.receipt_type.name }}</td>
                                <td  class="text-capitalize">{{ msc_incomes.mode_of_transaction.name }}</td>
                                <td>{{ msc_incomes.bank.name }}</td>
                                <td>{{ msc_incomes.amount }}</td>
                                <td>{{ msc_incomes.created_on|date:"d/m/Y" }}</td>
                                <td>{{ msc_incomes.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ msc_incomes.cheque_no }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'edit_miscellaneous_income' msc_incomes.id %}" class="me-2">
                                            <i class="fas fa-pen text-dark"></i>
                                        </a>
                                        <a href="{% url 'delete_miscellaneous_income' msc_incomes.id %}" onclick="return confirmDelete();">
                                            <i class="fas fa-trash text-dark"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


            <div class="card mt-4" id="4">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Withdrawal</h5>
                </div>
                <div class="card-body bg-white br-5">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label>Cash </label>
                            <input type="number" name="cash_withdrawal" required class="form-control bg-light" id="id_cash_withdrawal" tabindex="1" value="{{ withdrawal_total_cash }}" readonly> 
                        </div>
                        {% comment %} <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_withdrawal" required class="form-control bg-light" id="id_bank_withdrawal" tabindex="2" value="{{ withdrawal_total_bank }}" readonly> 
                        </div> {% endcomment %}
                        {% comment %} <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_withdrawal" required class="form-control bg-light" id="id_card_withdrawal" tabindex="3" value="{{ withdrawal_total_card }}" readonly> 
                        </div> {% endcomment %}
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_withdrawal" required class="form-control bg-light" id="id_cheque_withdrawal" tabindex="4" value="{{ withdrawal_total_cheque }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">                        
                        <div class="col-md-3">
                            <label>Withdrawal Total</label>
                            <div class="bg-light p-2 rounded">{{total_withdrawal_amount}}</div>
                            <input type="hidden" name="withdrawal" value="{{total_withdrawal_amount}}" required class="form-control bg-light" id="id_withdrawal_total" > 
                        </div> 
                        <div class="col-md-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-3"  data-toggle="modal" data-target="#withdrawalModal">Add </button>
                        </div>
                        
                    </div>
                    
                    <div class="table-responsive">
                        <table id="tablewithdrawal"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                            <thead class="thead-light" style="border-color: transparent !important;">
                                <tr>
                                    <th>Bank</th>
                                    <th>With. Date</th>
                                    <th>Amount</th>
                                    <th>Mode of Transaction</th>
                                    <th>Created On</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for withdrawal in withdrawal %}
                                <tr>
                                    <td>{{ withdrawal.bank.bank.name }}</td>
                                    <td>{{ withdrawal.withdrawal_date|date:"d/m/Y" }}</td>
                                    <td>{{ withdrawal.amount }}</td>
                                    <td class="text-capitalize">{{ withdrawal.mode_of_transaction.name }}</td>
                                    <td>{{ withdrawal.created_on|date:"d/m/Y" }}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="{% url 'edit_withdrawal' withdrawal.id %}" class="me-2">
                                                <i class="fas fa-pen text-dark"></i>
                                            </a>
                                            <a href="{% url 'delete_withdrawal' withdrawal.id %}" onclick="return confirmDelete();">
                                                <i class="fas fa-trash text-dark"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




            <div class="card  mt-4" id="5">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Purchases</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    <div class="row ">
                        <div class="col-md-2">
                            <label>Cash </label>
                            <input type="number" name="cash_purchase" required class="form-control bg-light" id="id_cash_purchase" tabindex="1" value="{{ purchase_total_cash }}" readonly> 
                        </div>
                        <div class="col-md-2">
                            <label>Bank </label>
                            <input type="number" name="bank_purchase" required class="form-control bg-light" id="id_bank_purchase" tabindex="2" value="{{ purchase_total_bank }}" readonly> 
                        </div>
                        <div class="col-md-2">
                            <label>Card </label>
                            <input type="number" name="card_purchase" required class="form-control bg-light" id="id_card_purchase" tabindex="3" value="{{ purchase_total_card }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_purchase" required class="form-control bg-light" id="id_cheque_purchase" tabindex="4" value="{{ purchase_total_cheque }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Credit </label>
                            <input type="number" name="credit_purchase" required class="form-control bg-light" id="id_credit_purchase" tabindex="5" value="{{ purchase_total_credit }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">
                        
                        <div class="col-md-3">
                            <label>Purchases Total</label>
                            <div class="bg-light p-2 rounded">{{total_purchase_amount}}</div>
                            <input type="hidden" name="purchase" value="{{total_purchase_amount}}" required class="form-control bg-light" id="id_purchases_total" > 
                        </div> 
                        <div class="col-md-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#purchaseModal">Add</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table id="tablepurchases"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <tr>
                                    <th>Supplier</th>
                                    <th>Opening Outstanding</th>
                                    <th>Mode of Transaction</th>
                                    <th>Invoice Date</th>
                                    <th>Invoice No</th>
                                    <th>Invoice Amount</th>
                                    <th>Cheque Date</th>
                                    <th>Cheque No</th>
                                    <th>Bank</th>
                                    <th>Action</th>

                                </tr>                                
                        </thead>
                        <tbody>
                           
                            {% for purchase in purchases %}
                            <tr>
                                <td>{{ purchase.supplier.name }}</td>
                                <td>{{ purchase.opening_outstanding }}</td>
                                <td  class="text-capitalize">{{ purchase.mode_of_transaction.name }}</td>
                                <td>{{ purchase.invoice_date|date:"d/m/Y" }}</td>
                                <td>{{ purchase.invoice_no }}</td>
                                <td>{{ purchase.invoice_amount }}</td>
                                <td>{{ purchase.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ purchase.cheque_no }}</td>
                                <td>{{ purchase.bank.bank.name }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'edit_purchase' purchase.id %}" class="me-2">
                                            <i class="fas fa-pen text-dark"></i>
                                        </a>
                                        <a href="{% url 'delete_purchase' purchase.id %}" onclick="return confirmDelete();">
                                            <i class="fas fa-trash text-dark"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


            <div class="card  mt-4" id="6">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Supplier Payment</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash</label>
                            <input type="number" name="cash_supplier_payment" required class="form-control bg-light" id="id_cash_supplier_payment" tabindex="1" value="{{ supplier_payment_total_cash }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank</label>
                            <input type="number" name="bank_supplier_payment" required class="form-control bg-light" id="id_bank_supplier_payment" tabindex="2" value="{{ supplier_payment_total_bank }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_supplier_payment" required class="form-control bg-light" id="id_card_supplier_payment" tabindex="3" value="{{ supplier_payment_total_card }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_supplier_payment" required class="form-control bg-light" id="id_cheque_supplier_payment" tabindex="4" value="{{ supplier_payment_total_cheque }}" readonly> 
                        </div>
                    </div>

                    
                    <div class="row mb-3 mt-2">                        
                        <div class="col-md-3">
                            <label>Supplier Payment Total</label>
                            <div class="bg-light p-2 rounded">{{total_supplier_payment_amount}}</div>
                            <input type="hidden" name="supplier_payment" value="{{total_supplier_payment_amount}}" required class="form-control bg-light" id="id_supplier_payment_total" > 
                        </div> 
                        <div class="col-md-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#supplierPaymentModal">Add </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table id="tablesupplierpayment"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <th>Supplier</th>
                                <th>Opening Outstanding</th>
                                <th>Payment Mode</th>
                                <th>Amount</th>
                                <th>Cheque Date</th>
                                <th>Cheque No</th>
                                <th>Bank</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for supplier_payment in supplier_payments %}
                            <tr>
                                <td>{{ supplier_payment.supplier.name }}</td>
                                <td  class="text-capitalize">{{ supplier_payment.opening_outstanding }}</td>
                                <td>{{ supplier_payment.mode_of_transaction }}</td>
                                <td>{{ supplier_payment.amount }}</td>
                                <td>{{ supplier_payment.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ supplier_payment.cheque_no }}</td>
                                <td>{{ supplier_payment.bank.bank.name }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'edit_supplier_payment' supplier_payment.id %}" class="me-2">
                                            <i class="fas fa-pen text-dark"></i>
                                        </a>
                                        <a href="{% url 'delete_supplier_payment' supplier_payment.id %}" onclick="return confirmDelete();">
                                            <i class="fas fa-trash text-dark"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>



            <div class="card  mt-4" id="7">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Expenses</h5>
                </div>
                <div class="card-body bg-white  br-5">
                    
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash </label>
                            <input type="number" name="cash_expense" required class="form-control bg-light" id="id_cash_expense" tabindex="1" value="{{ expense_total_cash }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_expense" required class="form-control bg-light" id="id_bank_expense" tabindex="2" value="{{ expense_total_bank }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_expense" required class="form-control bg-light" id="id_card_expense" tabindex="3" value="{{ expense_total_card }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_expense" required class="form-control bg-light" id="id_cheque_expense" tabindex="4" value="{{ expense_total_cheque }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">                        
                        <div class="col-md-3">
                            <label>Expense Total</label>
                            <div class="bg-light p-2 rounded">{{total_expense_amount}}</div>
                            <input type="hidden" name="expense" value="{{total_expense_amount}}" required class="form-control bg-light" id="id_expense_total" > 
                        </div> 
                        <div class="col-md-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#expenseModal">Add </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table id="tableexpense"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <th>Income Type</th>
                                <th>Payment Mode</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Invoice No.</th>
                                <th>Create Date</th>
                                <th>Chq. Date</th>
                                <th>Chq No.</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for expense in expenses %}
                            <tr>
                                <td>{{ expense.expense_type.name }}</td>
                                <td  class="text-capitalize">{{ expense.mode_of_transaction.name }}</td>
                                <td>{{ expense.bank.bank.name }}</td>
                                <td>{{ expense.amount }}</td>
                                <td>{{ expense.invoice_no}}</td>
                                <td>{{ expense.created_on|date:"d/m/Y" }}</td>
                                <td>{{ expense.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ expense.cheque_no }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'edit_expense' expense.id %}" class="me-2">
                                            <i class="fas fa-pen text-dark"></i>
                                        </a>
                                        <a href="{% url 'delete_expense' expense.id %}" onclick="return confirmDelete();">
                                            <i class="fas fa-trash text-dark"></i>
                                        </a>
                                    </div>
                                </td>
                             </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


            <div class="card  mt-4">
                <div class="card-header text-white">
                    <h5 class="text-left mb-0">Bank Deposit</h5>
                </div>
                <div class="card-body bg-white  br-5" id="8">
                    
                    <div class="row ">
                        <div class="col-md-3">
                            <label>Cash </label>
                            <input type="number" name="cash_bank_deposit" required class="form-control bg-light" id="id_cash_bank_deposit" tabindex="1" value="{{ bank_deposit_total_cash }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Bank </label>
                            <input type="number" name="bank_bank_deposit" required class="form-control bg-light" id="id_bank_bank_deposit" tabindex="2" value="{{ bank_deposit_total_bank }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Card </label>
                            <input type="number" name="card_bank_deposit" required class="form-control bg-light" id="id_card_bank_deposit" tabindex="3" value="{{ bank_deposit_total_card }}" readonly> 
                        </div>
                        <div class="col-md-3">
                            <label>Cheque </label>
                            <input type="number" name="cheque_bank_deposit" required class="form-control bg-light" id="id_cheque_bank_deposit" tabindex="4" value="{{ bank_deposit_total_cheque }}" readonly> 
                        </div>
                    </div>
                    
                    <div class="row mb-3 mt-2">                        
                        <div class="col-md-3">
                            <label>Bank Deposit Total</label>
                            <div class="bg-light p-2 rounded">{{bank_deposit_amount}}</div>
                            <input type="hidden" name="bank_deposit" value="{{bank_deposit_amount}}" required class="form-control bg-light" id="id_bank_deposit_total" > 
                        </div> 
                        <div class="col-md-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-3"  data-toggle="modal" data-target="#bankDepositModal">Add </button>
                        </div>
                        
                    </div>
                    
                    <div class="table-responsive">
                    <table id="tablebankdeposit"  class="table table-bordered table-striped nowrap"  style="width: 100%;">
                        <thead class="thead-light" style="border-color: transparent !important;">
                            <tr>
                                <!-- <th>Customer</th> -->
                                <th>Dep. Bank</th>
                                <th>Payment Mode</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Dep. Date</th>
                                <th>Chq. Date</th>
                                <th>Chq No.</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for bank_deposit in bank_deposits %}
                            <tr>
                                <!-- <td>{{ bank_deposit.customer.name }}</td> -->
                                <td>{{ bank_deposit.bank_deposit_bank.bank.name }}</td>
                                <td  class="text-capitalize">{{ bank_deposit.mode_of_transaction.name }}</td>
                                <td>{{ bank_deposit.bank.name }}</td>
                                <td>{{ bank_deposit.amount }}</td>
                                <td>{{ bank_deposit.created_on|date:"d/m/Y" }}</td>
                                <td>{{ bank_deposit.cheque_date|date:"d/m/Y" }}</td>
                                <td>{{ bank_deposit.cheque_no }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'edit_bank_deposit' bank_deposit.id %}" class="me-2">
                                            <i class="fas fa-pen text-dark"></i>
                                        </a>
                                        <!-- <a href="{% url 'delete_bank_deposit' bank_deposit.id %}" class="">
                                            <i class="fas fa-trash text-dark"></i>
                                        </a> -->
                                        <a href="{% url 'delete_bank_deposit' bank_deposit.id %}" onclick="return confirmDelete();">
                                            <i class="fas fa-trash text-dark"></i>
                                        </a>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header " style="border-radius:5px; border:transparent;">
                    <h5 class="text-white mb-0" id="id_closing_balance"></h5>
                </div>
            </div>
        </div>
        <div class="card-footer mb-0">
            <div class="form-group d-flex justify-content-center align-items-center gap-3 mb-0">
                {% comment %} <input type="hidden" name="closing_balance" value="0"> {% endcomment %}
                <input type="hidden" name="status" id="status" value="ongoing">
                {% comment %} <input type="button" onclick="saveFunction()"  class="btn btn-warning" value="Save">
                <input type="button"  class="btn btn-primary" value="Submit"> {% endcomment %}
        
             <button type="button" class="btn btn-primary" id="submit-btn" onclick="submitFunction()">Submit</button>
                <button type="button" class="btn btn-secondary" id="save-btn" onclick="saveFunction()">Save</button>
            </div>
        </div>
    </form>
    </div>
</div>

{% include 'modals/bank_sale_modal.html' %}
{% include 'modals/credit_collection_modal.html' %}
{% include 'modals/msc_income_modal.html' %}
{% include 'modals/purchase_modal.html' %}
{% include 'modals/supplier_payment_modal.html' %}
{% include 'modals/expense_modal.html' %}
{% include 'modals/bank_deposit_modal.html' %}
{% include 'modals/withdrawal_modal.html' %}



{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
   $(document).ready(function() {
    // Initialize DataTables
    $('#tablebanksale, #tablecreditcollection, #tablebankdeposit, #tableexpense, #tablepurchase, #tablemscincome, #tablesupplierpayment').DataTable({
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            {
                text: 'Print',
                extend: 'print',
                exportOptions: {
                    stripHtml: false,
                    columns: [0, 1, 2, 3, 4]
                }
            },
            {
                text: 'Export PDF',
                extend: 'pdf',
                exportOptions: {
                    stripHtml: true,
                },
            }
        ],
    });

   
});

</script>

{% endblock %}


