<!-- employee_edit.html -->

{% extends 'base.html' %}

{% block title %}Edit Employee{% endblock %}

{% block content %}

  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4 class="text-white mb-0">Edit Employee</h4>
      </div>
      
      <div class="card-body">
        <!-- {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %} -->

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, error in form.errors.items %}
            <strong>{{ field|title }}:</strong> {{ error|join:", " }}<br>
        {% endfor %}
    </div>
    {% endif %}
    
    <form method="post">
      {% csrf_token %}
      <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="business_profile">Business Profile:</label>
          <input type="text" id="business_profile" name="business_profile" value="{{ form.business_profile.value }}" class="form-control" readonly>
          <input type="hidden" id="business_profile_id" name="business_profile_id" value="{{ form.business_profile_id.value }}">
        </div>

        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" value="{{ form.first_name.value }}" class="form-control" >
        </div>
        
      <div class="form-group">
        <label for="emirates_id">Emirates ID:</label>
        <input type="text" id="emirates_id" name="emirates_id" value="{{ form.emirates_id.value }}" class="form-control" maxlength="20" >
      </div>

      <div class="form-group">
        <label for="passport_no">Passport No:</label>
        <input type="text" id="passport_no" name="passport_no" value="{{ form.passport_no.value }}" class="form-control" maxlength="20" >
      </div>

      <div class="form-group">
        <label for="basic_pay">Basic Pay:</label>
        <input type="text" id="basic_pay" name="basic_pay" value="{{ form.basic_pay.value }}" class="form-control" >
      </div>

      
      <div class="form-group">
        <label for="house_allowance">House Allowance:</label>
        <input type="text" id="house_allowance" name="house_allowance" value="{{ form.house_allowance.value }}" class="form-control" >
      </div>
      
      <div class="form-group">
        <label for="joining_date">Joining Date:</label>
        <input type="date" id="joining_date" name="joining_date" value="{{ employee.joining_date|date:'Y-m-d' }}" class="form-control" readonly>
      </div>
      <!-- <div class="form-group">
        <label for="country_code">Country Code:</label>
        <input type="text" id="country_code" name="country_code" class="form-control" value="971"  required readonly>
    </div>
     -->

      <!-- <div class="form-group">
        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" value="{{ form.nationality.value }}" class="form-control" readonly>
      </div> -->
    
      <!-- <div class="form-group">
        <label for="username">Username:</label>
        
        <input type="text" id="username" name="username" class="form-control"  required>
        <div id="usernameAvailability" class="text-success"></div>
    </div>  -->
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="employee_id">Employee ID:</label>
        <input type="text" id="employee_id" name="employee_id" value="{{ form.employee_id.value }}" class="form-control" readonly>
      </div>
      
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ form.last_name.value }}" class="form-control" >
      </div>
      
      <div class="form-group">
        <label for="id_expiration_date">ID Expiration Date:</label>
        <input type="date" id="id_expiration_date" name="id_expiration_date" value="{{ employee.id_expiration_date|date:'Y-m-d' }}" class="form-control" >
      </div>

      <div class="form-group">
        <label for="passport_expiration_date">Passport Expiration Date:</label>
        <input type="date" id="passport_expiration_date" name="passport_expiration_date" value="{{ employee.passport_expiration_date|date:'Y-m-d' }}" class="form-control" >
      </div>
   
      <div class="form-group">
        <label for="transportation_allowance">Transportation Allowance:</label>
        <input type="text" id="transportation_allowance" name="transportation_allowance" value="{{ form.transportation_allowance.value }}" class="form-control" >
      </div>
    


      <div class="form-group mb-0">
        <label for="job_role">Job Role:</label>
        <input type="text" id="job_role" name="job_role" value="{{employee.job_role}}" class="form-control" readonly >
    </div>

    <label for="nationality">Nationality:</label>
    <select id="nationality" name="nationality" class="form-control">
      {% for nationality in nationalities %}
          <option value="{{ nationality }}" {% if nationality == form.nationality.value %}selected{% endif %}>{{ nationality }}</option>
      {% endfor %}
    </select>


    <!-- <div class="form-group">
      <label for="phone_number">Phone No:</label>
      <input type="text" id="phone_number" name="phone_number" class="form-control" placeholder="05xxxxxxxx" maxlength="10" required >
      <div id="usernameAvailability" class="text-success"></div>
      
    </div>
    -->
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="country_code">Country Code:</label>
            <input type="text" id="country_code" name="country_code" class="form-control" value="971"  required readonly>
        </div>
        
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" value="{{ employee.user.email }}" required>
        </div>
          </div>
          <input type="hidden" id="password" name="password" value="{{ employee.user.password }}">
    <div class="col-md-6">
        <div class="form-group">
            <label for="phone_number">Phone No:</label>
            <input type="text" id="phone_number" name="phone_number" class="form-control"value="{{ employee.user.phone_number }}" maxlength="10" required >
            <div id="usernameAvailability" class="text-success"></div>

        </div>
        <div class="form-group">
          <label for="id_status" class="mt-0">Status:</label>
          <select id="id_status" name="status" class="form-control mb-3">
              <option value="True" {% if employee.status %}selected{% endif %}>Active</option>
              <option value="False" {% if not employee.status %}selected{% endif %}>Inactive</option>
          </select>
      
      </div>
    </div>
</div>
    
    
     
    <!-- <div class="form-group mt-2">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control"  required>
      
  </div>  -->
  </div>
  <a href="{% url 'employee_list' %}" class="btn btn-secondary text-white">Back</a>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>


  </div>
</div>
  </div>
  <script>
     function validatePhoneNumber(input) {
    const inputValue = input.value.trim();
    
    // Check if the first three digits match the expected prefix "971"
    if (inputValue.length >= 3 && inputValue.substring(0, 3) !== "971") {
        alert("Phone number must start with '971'.");
        // Clear the input field
        input.value = '';
        return;
    }

    // Define the regular expression pattern for the expected phone number format
    const phoneNumberPattern = /^971\d{0,9}$/;

    // Check if the entered phone number matches the expected format
    if (inputValue.length >= 3 && !phoneNumberPattern.test(inputValue)) {
        // Display an alert if the entered phone number does not match the expected format
        alert("Invalid phone number format. Please enter a valid phone number starting with '971' followed by up to 9 digits.");
        // Remove invalid characters from the input value
        input.value = inputValue.replace(/[^0-9]/g, '');
    }

    // Prevent further input if the length exceeds 12 characters
    if (inputValue.length >= 12) {
        // Truncate the input value to 12 characters
        input.value = inputValue.slice(0, 12);
    }
}


function checkUsernameAvailability() {
        var username = document.getElementById('phone_number').value;
        if (username.trim() !== '') {
          console.log('kkkkkkkkkkkkkkkkkkkkkkk');
            // Make an AJAX request to check username availability
            fetch('/check-username-availability/?username=' + username)
                .then(response => response.json())
                .then(data => {
                    if (data.available) {
                        document.getElementById('usernameAvailability').textContent = 'Username is available';
                    } else {
                        document.getElementById('usernameAvailability').textContent = 'Username already exists';
                    }
                });
        }
    }

    // Attach the function to the input event of the username field
    document.getElementById('phone_number').addEventListener('input', checkUsernameAvailability);


  </script>
{% endblock %}
