{% extends 'base.html' %}

{% block content %}
<style>
    .highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
</style>
<div class="container mt-3">
    <!-- Analytics Section -->
    <div class=" mb-3 " >
        <div class="card bg-light  ">
            <div class="card-header">
                <h5 class="mb-0 text-white">
                    Shop Details
                </h5>
            </div>
            <div class="card-body mb-0">
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        {% if shop %}
            <div class="col-md-6">
            <p class="mb-0"><strong>Shop Name:</strong> {{ shop.name }} - ({{shop.id}})</p>
            </div>
            <div class="col-md-6">
                <p class="mb-0"><strong>License Number:</strong> {{ shop.license_number }}</p>
            </div>
      
            <div class="col-md-6">
                <p class="mb-0"><strong>Email</strong> : {{ user.email }}</p>
            </div>
            <div class="col-md-6">
                <p class="mb-0"><strong>Username</strong> : {{ user.username }}</p>
            </div>
    
        {% else %}
            <p>No shop associated with the current user.</p>
        {% endif %}
    {% endif %}
    </div>
        </div>
    </div>
   
    
    
    <!-- Categories Section -->
    
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header"><h5 class="mb-0 text-white">{{ category.name }}</h5></div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for link in category.links %}
                        <a href="{% url link.url_name %}" style="border-radius:5px;"><li class="list-group-item">{{ link.label }}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- End of Categories Section -->
   
</div>

{% endblock %}
