{% extends 'base.html' %}

{% block title %}Mode of Transaction List{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Mode of Transaction List</h5>
      <a href="{% url 'create_mode_of_transaction' %}" class="btn btn-primary float-right">Create Mode Transaction</a>
  </div>
    <div class="card-body">
      
      <div class="table-responsive">
        <table  class="table table-bordered table-striped nowrap"  style="width: 100%;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type Name</th>
        <th scope="col">Status</th>
        <th scope="col">Created On</th>

        <th scope="col">Actions</th>  <!-- New column for actions -->
      </tr>
    </thead>
    <tbody>
      {% for transaction in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ transaction.name }}</td>
          <td>{{ transaction.status }}</td>
          <td>{{ transaction.created_on }}</td>
          <td>
            <a href="{% url 'edit_mode_of_transaction' transaction.id %}" class="btn btn-primary btn-sm">Edit</a>
              {% csrf_token %}
              <!-- <button type="submit" class="btn btn-danger btn-sm">Delete</button> -->
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table></div>

</div>
</div>
</div>

{% endblock %}
