{% extends 'base.html' %}

{% block title %}Miscellaneous Income Report{% endblock %}

{% block content %}
<div class="container ">
    <div class="card">
        <div class="card-header">
            <h5 class="text-white mb-0">Miscellaneous Income Report</h5>
        </div>
        <div class="card-body">
            <form id="report-form" class="form-inline">
                <div class="row  d-flex justify-content-between align-items-center">
                    <div class="col-md-4">
                        <div class="form-group mr-2">
                            <label for="start_date" class="mr-2">Start Date</label>
                            <input type="date" id="start_date" name="start_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mr-2">
                            <label for="end_date" class="mr-2">End Date</label>
                            <input type="date" id="end_date" name="end_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mr-2 mt-2">
                            <button type="submit" class="btn btn-primary">Generate Report</button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="report-results" class="mt-4 d-none">
                <div class="text-center">
                    <h5 class="text-dark">Report Results</h5>
                    <p>Date: <span id="report-date-range"></span></p>
                </div>
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th style="background-color: #8a8a8a; text-align:center;">Date</th>
                            <th style="background-color: #8a8a8a; text-align:left;">Income Type</th>
                            <th style="background-color: #8a8a8a; text-align:left;">Mode of Transaction</th>
                            <th style="background-color: #8a8a8a; text-align:right;">Amount</th>
                        </tr>
                    </thead>
                    <tbody id="report-body"></tbody>
                    <tfoot id="report-footer"></tfoot>
                </table>
                <button id="download-pdf-cc" class="btn btn-success mt-2">Download PDF</button>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('report-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const startDate = document.getElementById('start_date').value;
    const endDate = document.getElementById('end_date').value;

    fetch(`/api/msc-income-report/?start_date=${startDate}&end_date=${endDate}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('report-results').classList.remove('d-none');
            const reportBody = document.getElementById('report-body');
            const reportFooter = document.getElementById('report-footer');
            const reportDateRange = document.getElementById('report-date-range');

            reportDateRange.textContent = `${startDate} - ${endDate}`;

            reportBody.innerHTML = data.details.map(detail => {
                const date = new Date(detail.date);
                const formattedDate = date.toLocaleDateString('en-UK', {
                    day: '2-digit',
                    month: 'long',
                    year: 'numeric'
                });
                return `
                    <tr>
                        <td>${formattedDate}</td>
                        <td style="text-align:left;">${detail.income_type}</td>
                        <td style="text-align:left;text-transform:capitalize;">${detail.mode_of_transaction}</td>
                        <td style="text-align:right;text-transform:capitalize;">${detail.amount.toFixed(2)}</td>
                    </tr>
                `;
            }).join('');

            reportFooter.innerHTML = `
                <tr>
                    <td colspan="1" style="background-color: #8a8a8a !important;color: #fff !important;"><b>Total:</b></td>
                    <td style="background-color: #8a8a8a !important;color: #fff !important;text-align:left;"></td>
                    <td style="background-color: #8a8a8a !important;color: #fff !important;text-align:left;"></td>
                    <td style="background-color: #8a8a8a !important;color: #fff !important;text-align:right;">${data.summary.total_amount.toFixed(2)}</td>
                </tr>
            `;
        });
});

document.getElementById('download-pdf-cc').addEventListener('click', function() {
  
    const startDate = document.getElementById('start_date').value;
    const endDate = document.getElementById('end_date').value;
    window.location.href = `/api/msc-income-report-pdf/?&start_date=${startDate}&end_date=${endDate}`;
});
</script>
{% endblock %}
