{% extends 'base.html' %}

{% block title %}Partner List{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Partner List</h5>
            <a href="{% url 'partner_create' %}" class="btn btn-secondary btn-sm" style="color:#000 !important;">Create Partner</a>
        </div>
    </div>
    
    {% if partners %}
    <div class="row mt-3">
        {% for partner in partners %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Shop Name : {{ partner.shop }} </h5>
                </div>
                <div class="card-body">
                    <p><strong>Email:</strong> {{ partner.email_1 }}</p>
                    <p><strong>Mobile Number:</strong> {{ partner.mobile_1 }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Shop Name : {{ partner.shop }} </h5>
                </div>
                <div class="card-body">
                    <p><strong>Email:</strong> {{ partner.email_2 }}</p>
                    <p><strong>Mobile Number:</strong> {{ partner.mobile_2 }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Shop Name : {{ partner.shop }} </h5>
                </div>
                <div class="card-body">
                    <p><strong>Email:</strong> {{ partner.email_3 }}</p>
                    <p><strong>Mobile Number:</strong> {{ partner.mobile_3 }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="card mt-3">
        <div class="card-body">
            <p>No Partner details registered.</p>
        </div>
    </div>
    {% endif %}
    
</div>
{% endblock %}
