
<ul class="navbar-nav ml-auto pl-3" style="max-height: 400px; overflow-y: scroll;">
    <li class="d-n"><a href="/home/">Home</a></li>
    
    <li class="d-n"><a href="/business-timing-list/"> Business Timing</a></li>
    <li class="d-n"><a href="/daily-summary/"> Daily Summary</a></li>
    <li class="d-n"><a href="/supplier-list/"> Suppliers</a></li>
    <li class="d-n"><a href="/customer-list/"> Customers</a></li>
    <li class="d-n"><a href="/receipt-type/"> Receipt Type</a></li>
    <li class="d-n"><a href="/expense-type/"> Expense Type</a></li>
    <li class="d-n"><a href="/mode-transaction/"> Mode of Transaction</a></li>
    <li class="d-n"><a href="/banks/"> Banks</a></li>

<li class="nav-item " ><a class="nav-link" href="/notifications/"> Notifications</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
</ul>
