{% extends 'base.html' %}

{% block title %}Supplier List{% endblock %}

{% block extra_css %}
    <!-- Include DataTables CSS here -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <style>
        .dataTables_wrapper {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Supplier List</h5>
            <a href="{% url 'create_supplier' %}" class="btn btn-primary float-right">Create Supplier</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="supplierTable" class="table table-bordered table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th>Outstanding</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supplier in suppliers %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ supplier.name }}</td>
                            <td>{{ supplier.outstanding }}</td>
                            <td>{{ supplier.location }}</td>
                            <td>{{ supplier.status }}</td>
                            <td>{{ supplier.created_on }}</td>
                            <td><a href="{% url 'edit_supplier' supplier.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function() {
          
    const dataTable = new DataTable('#supplierTable', {
      responsive: true,
      dom: 'lfrtip',
      order: [[0, 'asc']],
    //   buttons: [
    //     {
    //       text: 'Print',
    //       extend: 'print',
    //       exportOptions: {
    //         stripHtml: false,
    //         columns: [0, 1, 2, 3, 4]
    //       }
    //     },
    //     {
    //       text: 'Export PDF',
    //       extend: 'pdf',
    //       exportOptions: {
    //         stripHtml: true,
    //       },
    //     }
    //   ],
      
    });
        });
    </script>
{% endblock %}
