{% extends 'base.html' %}

{% block title %}Update Mode of Transaction{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Update Mode of Transaction</h4>
    </div>
    <div class="card-body">
      
  
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name" class="mb-3"> Name:</label>
      <input type="text" id="transaction_name" name="transaction_name" class="form-control mb-3" value="{{ form.transaction_name.value }}" required >

    </div>
    <div class="form-group">
      <label for="name" class="mb-3"> Type:</label>
      <input type="text" id="name" name="name" class="form-control mb-3" value="{{ form.name.value }}" required readonly>
      <input type="hidden" name="business_profile" value="{{ form.business_profile.value }}">
    </div>
  
  <div class="form-group">
    <label for="id_status" class="mb-3">Status:</label>
    <select id="id_status" name="status" class="form-control mb-3" required>
      <option value="true" {% if form.status.value %} selected {% endif %}>Active</option>
      <option value="false" {% if not form.status.value %} selected {% endif %}>Inactive</option>
</select>
</div><button type="submit" class="btn btn-success text-white">Update</button>
<a href="{% url 'mode_of_transaction_list' %}" class="btn btn-secondary text-white">Cancel</a>
  </form>

</div>
</div>
</div>
{% endblock %}
