<div class="modal fade" id="supplierPaymentModal" tabindex="-1" aria-labelledby="supplierPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-white bg-primary">
                <h5 class="modal-title text-white" id="supplierPaymentModalLabel">Add Supplier Payment</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="supplierPaymentForm" method="post" action="{% url 'create_supplier_payment' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <div id="purchaseErrors" class="alert alert-danger d-none"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="business_profile" value="{{ business_profile }}">
                              <label for="id_supplier">Supplier</label>
                              <select id="id_supplier" name="supplier" class="form-control" tabindex="0">
                                <option>-- Select Supplier --</option>
                                {% for supplier in purchase_form.supplier.field.queryset %}
                                  <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            
                              <div class="form-group">
                                <label for="id_invoice_amount">Amount</label>
                                <input type="number" id="id_amount" name="amount" class="form-control"  tabindex="7">
                              </div>
                             
                              <div class="form-group">
                                <label for="id_cheque_no">Cheque Number</label>
                                <input type="text" id="id_cheque_no" name="cheque_no" class="form-control" tabindex="6">
                              </div>
                              <div class="form-group">
                                <label for="id_bank">Bank</label>
                                <select id="id_bank" name="bank" class="form-control" tabindex="8">
                                  <option>-- Select Bank --</option>
                                  {% for bank in purchase_form.bank.field.queryset %}
                                    <option value="{{ bank.id }}">{{ bank.name }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                           
                            <div class="form-group">
                                <label for="id_opening_outstanding">Opening Outstanding</label>
                                <input type="number" id="id_opening_outstanding" name="opening_outstanding" class="form-control" step="0.01" tabindex="1">
                              </div>
                              <div class="form-group">
                                <label for="id_mode_of_transaction">Mode of Transaction</label>
                                <select id="id_mode_of_transaction" name="mode_of_transaction" class="form-control" tabindex="2">
                                  <option>-- Mode of Transaction --</option>
                                  {% for transaction_mode in purchase_form.mode_of_transaction.field.queryset %}
                                    <option value="{{ transaction_mode.id }}">{{ transaction_mode.name }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                             
                            <div class="form-group">
                              <label for="id_cheque_date">Cheque Date</label>
                              <input type="date" id="id_cheque_date" name="cheque_date" class="form-control" tabindex="4">
                            </div>
                          
                            
                        </div>
                    </div>
                    <div id="miscIncomeErrors" class="text-danger"></div>
                </div>
                <div class="modal-footer bg-white">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
