
<!-- Create Withdrawal Modal -->
<div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="withdrawalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white mb-0" id="withdrawalModalLabel">Create Withdrawal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'withdrawal_create' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" id="modal_daily_summary_idw" name="daily_summary_id">
                    <input type="hidden" name="business_profile" value="{{ business_profile }}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_mode_of_transaction">Mode of Transaction</label>
                            {% comment %} <select id="mode_of_transaction" name="mode_of_transaction" class="form-control">
                                {% for mode in withdrawal_form.mode_of_transaction.field.queryset %}
                                <option value="{{ mode.id }}" {% if mode.id == form.mode_of_transaction.value %}selected{% endif %}>{{ mode.name }}</option>
                                {% endfor %}
                            </select> {% endcomment %}.
                            <select id="id_mode_of_transaction" name="mode_of_transaction" class="form-control text-capitalize">
                                <option>-- Mode of Transaction --</option>
                                {% for transaction_mode in withdrawal_form.mode_of_transaction.field.queryset %}
                                  <option value="{{ transaction_mode.id }}">{{ transaction_mode.name }}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_withdrawal_date">Withdrawal Date</label>
                            <input type="date" id="id_withdrawal_date" name="withdrawal_date" class="form-control" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_amount">Amount</label>
                            <input type="number" id="id_amount" name="amount" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <div id="chequeDetails2" class="d-none">
                            {% comment %} <label for="bank">Bank</label>
                            <select id="bank" name="bank" class="form-control">
                                {% for bank in withdrawal_form.bank.field.queryset %}
                                    <option value="{{ bank.id }}" {% if bank.id == form.bank.value %}selected{% endif %}>{{ bank.name }}</option>
                                {% endfor %}
                            </select> {% endcomment %}
                            <label for="id_bank">Bank</label>
                            <select id="id_bank" name="bank" class="form-control">
                              <option value="">-- Select Bank --</option>
                              {% for bank in withdrawal_form.bank.field.queryset %}
                                <option value="{{ bank.id }}">{{ bank.name }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                        
                        <div class="form-group col-md-6">
                            <div id="chequeDetails" class="d-none">
                            <label for="id_cheque_date">Cheque Date</label>
                            <input type="date" id="id_cheque_date" name="cheque_date" class="form-control" >
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div id="chequeDetails1" class="d-none">
                            <label for="id_cheque_no">Cheque Number</label>
                            <input type="text" id="id_cheque_no" name="cheque_no" class="form-control" >
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>