<div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="withdrawalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white mb-0" id="withdrawalModalLabel">Create Withdrawal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" id="modal_daily_summary_idw" name="daily_summary_id">
                    <input type="hidden" name="business_profile" value="{{ business_profile }}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="bank">Bank</label>
                            <select id="bank" name="bank" class="form-control">
                                {% for bank in form.bank.field.queryset %}
                                    <option value="{{ bank.id }}" {% if bank.id == form.bank.value %}selected{% endif %}>{{ bank.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="withdrawal_date">Withdrawal Date</label>
                            <input type="date" id="withdrawal_date" name="withdrawal_date" class="form-control" value="{{ form.withdrawal_date.value|date:'Y-m-d' }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="amount">Amount</label>
                            <input type="number" id="amount" name="amount" class="form-control" value="{{ form.amount.value }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mode_of_transaction">Mode of Transaction</label>
                            <select id="mode_of_transaction" name="mode_of_transaction" class="form-control">
                                {% for mode in form.mode_of_transaction.field.queryset %}
                                    <option value="{{ mode.id }}" {% if mode.id == form.mode_of_transaction.value %}selected{% endif %}>{{ mode.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>